*{
    box-sizing: border-box;
    
}
body{
    background-color: white;
    overflow-x: hidden;
}
.heading{
    background-color: black;
    font-family: 'Comforter', cursive;
font-family: 'Comforter Brush', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Neonderthaw', cursive;
   font-size: medium;
}

.main{
    background-color: white;
    text-align: center;
}
.status-container{
    margin-left:0;
    left: auto;

}
.status-container a img{
    border-radius: 100%;
    border: 2px solid purple;
    padding: 1px;
    object-fit: cover;
}

.search{
    background-color:white;
}

/*card*/
.dot{
    height: 5px;
    width: 5px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    
}
.card-text{
    text-align: left;
}
.menu{
    text-decoration: none;
    color: black;
    
}
.right{
    position: fixed;
}
.main{
    background-color: grey;
    
}
.select-form{
    width: 100%;
    height:50px;
    max-height: 50px;
    margin:left;
}
.footer{
    display: none;
}
.nav-menu{
    display: flex;
}


@media only screen and (max-width: 576px){
    .search{
        display: none;
    }
    .nav-menu{
        display: none;
        
    }
    .status-container{
        width: 100%;
    }
    
    .header{
        font-size: small;
    }   
    .card{
        width: 100%;
    }
   .footer{
       display: none;
       display: block;
       font-size: xx-large;
   }
    
}